body {
  font-family: 'Arial', sans-serif;
  background-color: #f5f5f5;
}

.loan-entry {
  display: flex;
  align-items: center;
  background-color: #fff;
  padding: 10px;
  margin: 10px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.loan-entry input {
  flex: 1;
  margin: 5px;
  padding: 8px 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
}
.Payment-Text {
  font-family: 'Arial', sans-serif;
  margin-bottom: '10px';
  font-size: '18px';
  font-weight: 'bold';
}

button {
  padding: 8px 12px;
  border: none;
  background-color: #007BFF;
  color: #fff;
  border-radius: 4px;
  cursor: pointer;
  margin: 5px;
  transition: background-color 0.3s ease;
  font-family: 'Arial', sans-serif;
}

button:hover {
  background-color: #0056b3;
}

